<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gw2_Launchbuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Gw2_Launchbuddy.Properties.Settings>
      <setting name="use_reshade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="reshadepath" serializeAs="String">
        <value />
      </setting>
      <setting name="use_autologin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="selected_acc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cinema_imagepath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_maskpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_musicpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_use" serializeAs="String">
        <value>False</value>
      </setting>
    </Gw2_Launchbuddy.Properties.Settings>
  </userSettings>
</configuration>