<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gw2_Launchbuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Gw2_Launchbuddy.Properties.Settings>
      <setting name="use_priority" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="use_autologin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="selected_acc" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cinema_imagepath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_maskpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_musicpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_use" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cinema_video" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cinema_slideshow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cinema_videopath" serializeAs="String">
        <value />
      </setting>
      <setting name="mediaplayer_volume" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="cinema_backgroundcolor" serializeAs="String">
        <value>#FFE6E6E6</value>
      </setting>
      <setting name="cinema_loginwindowpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_slideshowendpos" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="cinema_slideshowendscale" serializeAs="String">
        <value>1.205</value>
      </setting>
      <setting name="instance_win_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="instance_win_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="counter_launches" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="notifylbupdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useinstancegui" serializeAs="String">
        <value>True</value>
      </setting>
    </Gw2_Launchbuddy.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>