<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gw2_Launchbuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Gw2_Launchbuddy.Properties.Settings>
      <setting name="cinema_imagepath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_maskpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_musicpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_use" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cinema_video" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cinema_slideshow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cinema_videopath" serializeAs="String">
        <value />
      </setting>
      <setting name="mediaplayer_volume" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="cinema_backgroundcolor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="cinema_loginwindowpath" serializeAs="String">
        <value />
      </setting>
      <setting name="cinema_slideshowendpos" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="cinema_slideshowendscale" serializeAs="String">
        <value>1.205</value>
      </setting>
      <setting name="counter_launches" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="notifylbupdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useinstancegui" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ui_selectedtab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="useloadingui" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="mainwin_pos_x" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mainwin_pos_y" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mainwin_size_x" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="mainwin_size_y" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="plugins_autoupdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="instancegui_windowsettings" serializeAs="String">
        <value>0,0,150,300</value>
      </setting>
      <setting name="instancegui_ispinned" serializeAs="String">
        <value>False</value>
      </setting>
    </Gw2_Launchbuddy.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
