<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.6.0" targetFramework="net48" />
  <package id="Costura.Fody" version="3.3.3" targetFramework="net48" developmentDependency="true" />
  <package id="CrashReporter.NET.Official" version="1.5.8" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net48" />
  <package id="Fody" version="4.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Net.Compilers" version="3.2.1" targetFramework="net48" developmentDependency="true" />
  <package id="NHotkey" version="1.2.1" targetFramework="net452" />
  <package id="NHotkey.Wpf" version="1.2.1" targetFramework="net452" />
</packages>